@model ADProject.Models.GroupTag

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Tag.TagName" class="control-label"></label>
            <input asp-for="Tag.TagName" class="form-control" />
            <span asp-validation-for="Tag.TagName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Tag.Warning" class="control-label"></label>
            <input asp-for="Tag.Warning" class="form-control" />
            <span asp-validation-for="Tag.Warning" class="text-danger"></span>
        </div>
    </div>
</div>