@model ADProject.Models.UsersGroup

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-4">
        <div class="form-group ui-widget">
            <label asp-for="User.Username" class="control-label"></label>
            <input id="auto-complete" asp-for="User.Username" class="form-control" />
            <span asp-validation-for="User.Username" class="text-danger"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            async: true,
            url: "/Groups/UserAutocomplete",
            type: "POST",
            success: function ({ $values }) {
                console.log($values)
                $("#auto-complete").autocomplete({
                    source: $values
                })
            },
        });
    });
</script>