@model ADProject.Models.UsersGroup

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input class="auto-complete form-control" placeholder="Username" asp-for="User.UserName" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            async: true,
            url: "/Groups/UserAutocomplete",
            type: "POST",
            success: function ({ $values }) {
                $(".auto-complete").autocomplete({
                    source: $values
                })
            },
        });
    });
</script>