@model ADProject.Models.Group

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create" id="group-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupPicture" class="control-label"></label>
                <input asp-for="GroupPicture" type="file" class="form-control" />
                <span asp-validation-for="GroupPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group" id="group-tags-container">
                @Html.EditorFor(model => model.GroupTags)
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="btn btn-primary" type="button" id="btnAdd" value="Add Tag" />
                    <input class="btn btn-danger" type="button" id="btnRemove" value="Remove Tag" />
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $("#btnAdd").on("click", function () {
            $.ajax({
                async: true,
                data: $("#group-form").serialize(),
                type: "POST",
                url: "/Groups/AddGroupTag",
                success: function (partialView) {
                    $("#group-tags-container").html(partialView);
                }
            });
        });

        $("#btnRemove").on("click", function () {
            $.ajax({
                async: true,
                data: $("#group-form").serialize(),
                type: "POST",
                url: "/Groups/RemoveGroupTag",
                success: function (partialView) {
                    $("#group-tags-container").html(partialView);
                }
            });
        });
    </script>
}
