@model ADProject.Models.Group

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/GroupForm.css" rel="stylesheet" type="text/css" />

<div class="px-2">
    <h2 class="create-form-header">Create New Group</h2>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <form enctype="multipart/form-data" asp-action="Create" id="group-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-4">
                    <div class="col-sm">
                        <div class="files">
                            <label class="control-label"><b>Main group image</b></label>
                            <input asp-for="GroupPicture" type="file" class="form-control" />
                            <span asp-validation-for="GroupPicture" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label class="control-label"><b>Group Name</b></label>
                                    <input asp-for="GroupName" class="form-control" />
                                    <span asp-validation-for="GroupName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label class="control-label"><b>Description</b></label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm">
                        <div class="row">
                            <div class="col-sm mb-4">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group" id="users-container">
                                            @Html.EditorFor(model => model.UsersGroups)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <input class="btn btn-primary" type="button" id="btnAddUser" value="Add User" />
                                        <input class="btn btn-danger" type="button" id="btnRemoveUser" value="Remove User" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mb-4">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group" id="group-tags-container">
                                            @Html.EditorFor(model => model.GroupTags)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <input class="btn btn-primary" type="button" id="btnAdd" value="Add Tag" />
                                        <input class="btn btn-danger" type="button" id="btnRemove" value="Remove Tag" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group form-check display-flex-row-end">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsPublished" /> Make Public
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-sm-2 mb-4">
                        <a asp-action="Index">Back to List</a>
                    </div>
                    <div class="col-sm-1 offset-md-12">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $("#btnAdd").on("click", function () {
            $.ajax({
                async: true,
                data: $("#group-form").serialize(),
                type: "POST",
                url: "/Groups/AddGroupTag",
                success: function (partialView) {
                    $("#group-tags-container").html(partialView);
                }
            });
        });

        $("#btnRemove").on("click", function () {
            $.ajax({
                async: true,
                data: $("#group-form").serialize(),
                type: "POST",
                url: "/Groups/RemoveGroupTag",
                success: function (partialView) {
                    $("#group-tags-container").html(partialView);
                }
            });
        });

        $("#btnAddUser").on("click", function () {
            $.ajax({
                async: true,
                data: $("#group-form").serialize(),
                type: "POST",
                url: "/Groups/AddUser",
                success: function (partialView) {
                    $("#users-container").html(partialView);
                }
            });
        });

        $("#btnRemoveUser").on("click", function () {
            $.ajax({
                async: true,
                data: $("#group-form").serialize(),
                type: "POST",
                url: "/Groups/RemoveUser",
                success: function (partialView) {
                    $("#users-container").html(partialView);
                }
            });
        });
    </script>
}

