@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/AuthUI.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row px-3">
            <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-11 col-xl-11 flex-row mx-auto px-0">
                            
                                <h4 id="external-login-title">Complete your @Model.ProviderDisplayName registration.</h4>
                            
                            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <p id="external-login-description" class="text-info">
                                    You've authenticated with <strong>@Model.ProviderDisplayName</strong>.
                                    Please complete the following details to finish your registration.
                                </p>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                                    <label asp-for="Input.UserName">Your Username / Display Name</label>
                                    <input asp-for="Input.UserName" class="form-control" />
                                    <span asp-validation-for="Input.UserName" class="text-danger"></span>

                                    <label asp-for="Input.FirstName">First Name</label>
                                    <input asp-for="Input.FirstName" class="form-control" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                                    <label asp-for="Input.LastName">Last Name</label>
                                    <input asp-for="Input.LastName" class="form-control" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>

                                </div>
                                <button type="submit" class="btn btn-primary block">Register</button>
                            </form>
                        </div>
                    </div> 

                </div>
            </div>
        </div>
    </div>
</body>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
