@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}




<link href="~/css/AuthUI.css" rel="stylesheet" />

<body>
    <div class="container">
        <div class="row px-3">
            <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
                

                <div class="card-body">
                    <h4 class="title text-center mt-4">
                        Forgot Password
                    </h4>

                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary block">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
