@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link href="~/css/AuthUI.css" rel="stylesheet" />


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row px-3">
            <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">


                <div class="card-body">
                    <h4 class="title text-center mt-4">
                        Forgot Password
                    </h4>

                    <center><p>Your password reset email has been sent. Please check your inbox.</p></center>
                    <center><a asp-area="Identity" asp-page="/Account/Login"><button class="btn btn-primary block">Log In</button></a></center>
                    
                </div>
            </div>
        </div>
    </div>
</body>