@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link href="~/css/AuthUI.css" rel="stylesheet" />


<body>
    <div class="container">
        <div class="row px-3">
            <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">


                <div class="card-body">
                    <h4 class="title text-center mt-4">
                        Forgot Password
                    </h4>

                    <center><p>Your password reset email has been sent. Please check your inbox.</p></center>
                    <center><a asp-area="Identity" asp-page="/Account/Login"><button class="btn btn-primary block">Log In</button></a></center>
                    
                </div>
            </div>
        </div>
    </div>
</body>