.image_ingredients {
    width: 100%;
    padding-top: 30px;
}


td {
    padding: 10px;
    text-align: left;
}

img {
    height: 500px;
    width: 500px;
    border-radius: 8px;
}

div {
    padding: 5px;
}
dt{
    padding-top:20px;
    padding-bottom:20px;
}
dd{
    padding:10px;
}
.user {
    grid-area: user;
}

.menu {
    grid-area: menu;
    overflow: hidden;
    background-color: #e9e9e9;
    
}
    .menu a {
        float:left;
        position: relative;
        top: 50%;
        left: 30%;
        right: 30%;
        transform: translate(-50%, -50%);
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

.menu a:hover {
background-color: #ddd;
color: black;
}

.searchbar {
    grid-area: searchbar;
    overflow: hidden;
    position:relative;
}
    .searchbar a, form {
        display: inline;
    }
    .searchbar a {
        float: right;
        
    }

.recipes {
    grid-area: recipes;
}

.grid-container {
    display: grid;
    grid-template-areas: 'user user user user user user' 
        'menu menu menu menu menu menu' 
        'searchbar searchbar searchbar searchbar searchbar searchbar'
        'recipes recipes recipes recipes recipes recipes ';
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: 100px 50px 80px auto;
    padding: 10px;
}
.list_recipe_grid-container {
    display: grid;
    grid-template-areas: 'heading heading heading heading heading heading' 
        'recipes recipes recipes recipes recipes recipes';
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
    
    padding: 10px;
}

.heading{
    grid-area:heading;
    text-align:center;
    border:solid;
}
.heading a, form{
   display:inline; 
  
}
.heading a{
    float:right;
}
.heading form{
    float:left;
}

