.main-image {
    width: 80vmin;
    height: 60vmin;
    overflow: hidden;
}

textarea {
    min-height: 200px;
    resize: none;
}

.step-image {
    width: 55vmin;
    height: 45vmin;
    overflow: hidden;
}

.recipe-image {
    width: 70vmin;
    height: 50vmin;
    overflow: hidden;
}

.border {
    border-width: 1px;
    border-color: black;
}

.display-flex-center {
    display: flex;
    justify-content: center;
}

.display-flex-end {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

