.element-container {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.menu-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.element-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.border {
    border-width: 1px;
    border-color: black;
}

.display-flex-center {
    display: flex;
    justify-content: center;
}

.display-flex-end {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.display-flex-start {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
}

.element-item {
    align-self: center;
    position: relative;
    padding: 0px;
    border-radius: 10px;
    width: 50vmin;
    height: 45vmin;
    text-align: center;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .element-item:hover .element-photo {
        opacity: 0.3;
        cursor: pointer;
    }

    .element-item:hover .middle {
        opacity: 1;
    }

.element-photo {
    width: 50vmin;
    height: 45vmin;
    overflow: hidden;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
    border-radius: 10px;
}

.top-left {
    position: absolute;
    top: 0px;
    font-weight: bold;
    background-color: white;
    padding: 1px;
    border-radius: 10px;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 1px;
    border-radius: 10px;
}

.middle {
    width: 50vmin;
    height: 40vmin;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.element-item a {
    color: black;
}
